/* колір основного тексту #212121 */
/*  колір тексту #757575 */
/* колір акценту #2196F3 */
/* колір кнопки #188CE8 */

:root {
	--maine-text-color: #212121;
	--text-color: #757575;
	--accent: #2196F3;
	--white-color: #ffffff;
	--black-color: #000000;
	--button-hover-color: #188CE8;

}
body {
	background-color: var(--white-color);
	color: var(--maine-text-color);
}



/* лого */
.logo-web {
	color: var(--accent);
}
.logo-studio {
	color: var(--black-color)
}
/* навігація */
.site-nav {
	color: var(--title-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
	color: var(--accent);
}
.contacts .link {
	color: var(--text-color);
}

.contacts .link:hover ,
.contacts .link:focus {
	color: var(--accent);
}
/* герой */
.hero-title {
	color: var(--white-color)
}
.button:hover ,
.button:focus {
	color:var(--button-hover-color)
}

/* наші переваги */
.text {
	color: var(--text-color);
}
/* чим ми займаємось */
/* команда */
.job-title {
	color: var(--text-color);
}
 /* футер */

 /* порфоліо */
 .description {
	color: var(--text-color);
 }
